.settings/
.metadata/
*.launch
.mxproject

Debug/
debug/
Release/
release/

*.o
*.ko
*.obj
*.elf

*.ilk
*.map
*.exp

*.exe
*.out
*.app
.i86
*.x86_64
*.hex
*.bin

*.dSYM/
*.su
*.idb
*.pdb
*.d

*.lib
*.a
*.la
*.lo

*.dll
*.so
.so.
*.dylib
*~
.DS_Store
